<h2 class="heading"><%= ts('Abou') %> <abbr title="<%= ts("Ad Astra Star Trek Fanfiction Archive")%>"><%= ts("Ad Astra") %></abbr></h2>

<div class="userstuff">
  <p><%= ts("Ad Astra is a Star Trek fan community founded in January of 2009, with ficcers and readers from the Omega Sector, the TrekBBS, United Trek, refugees of Hope Station and several other places.  Our first archive was run on eFiction and we added both forums and blogs over time in order to make it more than just a fanfiction archive, but also a community where we could come together, throw out prompts, challenges, Review Hunts and the occasional round robin.  Now, into the 2020s, we've added a Discord server, too.") %></p>
  <p><%= ts("Our biggest asset has always been the vibrancy and giving spirit of our community.  Before switching software, Ad Astra had one of the highest review-to-story ratios of any fanfic archive on the entire web; we hope to continue that going ahead on the otw-archive software.  Believe me, if you love writing or reading Trek fanfic, you absolutely have a place here with us.  We come from all walks of life, united by the love of Star Trek, and we'd also really be happy to have you join us.") %></p>
  <p><%= ts("Ad Astra is non-commercial, nonprofiting and ad-free, and largely paid for by its two head archivists.  We intend to keep this community going indefinitely.") %></p>
</div>