<h2 class="heading"><%= ts('Donations') %></h2>
<h3 class="heading"><%= ts('There are two main ways to support Ad Astra - participate and be kind.') %></h3>

<div class="userstuff">
  <h3><%= ts('Participate') %></h3>
  <p><%= ts("Ad Astra has always been a place of high collaboration, participation and support.  Help keep it that way by engaging with authors, fanworks, readers and commenters!  Join <a href="forums.adastrafanfic.com">our forums</a>, participate in the challenges!  Just be a part of this community and this community will be great.").html_safe %></p>

  <h3><%= ts('Kindness') %></h3>
  <p><%= ts("This site has always been a labor of love.  For Trek, yeah.  But also for each other.  And also for YOU.  So come join us, let's see where we can go together.").html_safe %></p>
</div>
